@font-face {
  font-family: SignPainter;
  font-style: normal;
  src: url("../fonts/SignPainter-HouseScript.svg") format('svg'),
  url("../fonts/SignPainter-HouseScript.woff") format('woff'),
  url("../fonts/SignPainter-HouseScript.eot") format('eot'),
  url("../fonts/SignPainter-HouseScript.ttf") format('ttf');
}

@font-face {
  font-family: Navigo;
  font-weight: normal;
  src: url("../fonts/Navigo-Regular.ttf") format('ttf'),
  url("../fonts/Navigo-Regular.woff") format('woff'),
  url("../fonts/Navigo-Regular.woff2") format('woff2');
}

@font-face {
  font-family: Navigo;
  font-weight: 900;
  src: url("../fonts/Navigo-Black.ttf") format('ttf'),
  url("../fonts/Navigo-Black.woff") format('woff'),
  url("../fonts/Navigo-Black.woff2") format('woff2');
}

@font-face {
  font-family: Navigo;
  font-weight: 700;
  src: url("../fonts/Navigo-Bold.ttf") format('ttf'),
  url("../fonts/Navigo-Bold.woff") format('woff'),
  url("../fonts/Navigo-Bold.woff2") format('woff2');
}

@font-face {
  font-family: Navigo;
  font-weight: 500;
  src: url("../fonts/Navigo-Medium.ttf") format('ttf'),
  url("../fonts/Navigo-Medium.woff") format('woff'),
  url("../fonts/Navigo-Medium.woff2") format('woff2');
}

@font-face {
  font-family: Navigo;
  font-weight: 300;
  src: url("../fonts/Navigo-Light.ttf") format('ttf'),
  url("../fonts/Navigo-Light.woff") format('woff'),
  url("../fonts/Navigo-Light.woff2") format('woff2');
}

@font-face {
  font-family: Navigo;
  font-weight: 200;
  src: url('../fonts/Navigo-ExtraLight.ttf') format('ttf'),
  url('../fonts/Navigo-ExtraLight.woff') format('woff'),
  url('../fonts/Navigo-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: Navigo;
  font-weight: 100;
  src: url('../fonts/Navigo-Thin.ttf') format('ttf'),
  url('../fonts/Navigo-Thin.woff') format('woff'),
  url('../fonts/Navigo-Thin.woff2') format('woff2');
}


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~@fortawesome/fontawesome-free/scss/variables";

$primary: rgba(#FF8100, 1);
$secondary: rgba(#216477, 1);
$dark: rgba(#002C38, 1);
$info: rgba(#39AECF, 1);

$base-font: 18px/24px Navigo, sans-serif;


$h1-font: 600 48px/68px Navigo, sans-serif;
$h1-font-sm: 800 32px/130% Navigo, sans-serif;
$h1-margin-bottom: 40px;

$h2-font: 600 48px/68px Navigo, sans-serif;
$h2-font-sm: 800 28px/130% Navigo, sans-serif;
$h2-margin-bottom: 36px;

$h3-font: 500 36px/46px Navigo, sans-serif;
$h3-font-sm: 800 24px/130% Navigo, sans-serif;
$h3-margin-bottom: 19px;

$h4-font: 600 24px/130% Navigo, sans-serif;
$h4-font-sm: $h4-font;
$h4-margin-bottom: 18px;

$h5-font: 600 20px/130% Navigo, sans-serif;
$h5-font-sm: $h5-font;
$h5-margin-bottom: 6px;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "dark": $dark,
        "info": $info,
);

$spacers: (
        6: ($spacer * 6),
        7: ($spacer * 7),
        8: ($spacer * 8),
        9: ($spacer * 9),
        10: ($spacer * 10)
);

$grid-gutter-width: 32px;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1025px,
        xl: 1439px
);

$container-max-widths: (
        sm: 576px,
        md: 720px,
        lg: 940px,
        xl: 1248px
);

$fa-font-path: "../fonts";

@mixin respond-to($breakpoint) {
  // If the breakpoint exists in the map.
  @if map-has-key($grid-breakpoints, $breakpoint) {
    // Write the media query.
    @media (max-width: map-get($grid-breakpoints, $breakpoint)) {
      @content;
    }

    // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}
